.container_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.container_dark {
  background-color: black;
  color: whitesmoke;
}

.container_light {
  background-color: whitesmoke;
  color: black;
}
